@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #3674B5;
  --color-secondary: #7ADAA5;
  --color-bermuda: #78dcca;


  --font-sans: 'Poppins', sans-serif;
}
